apiVersion: apps/v1
kind: Deployment
metadata:
  name: covid19-surveillance-file-queue-deployment
  labels:
    package: covid19surveillance
spec:
  replicas: 1
  selector:
    matchLabels:
      component: covid19-surveillance-file-queue
  template:
    metadata:
      labels:
        component: covid19-surveillance-file-queue
    spec:
      initContainers:
        - name: covid19-surveillance-pre-config
          image: busybox:1.28
          command: ['sh', '-c', 'until telnet openhim-core-service 8082; do echo OpenHIM not running yet; sleep 10; done;']
      containers:
      - name: covid19-surveillance-file-queue
        image: jembi/openhim-mediator-file-queue:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
          - containerPort: 4002
        env:
          - name: OPENHIM_URL
            value: https://openhim-core-service:8082
          - name: OPENHIM_USERNAME
            value: root@openhim.org
          - name: OPENHIM_PASSWORD
            value: instant101
          - name: SERVER_PORT
            value: '4002'
          - name: HEARTBEAT
            value: 'true'
          - name: LOG_LEVEL
            value: info
          - name: NODE_TLS_REJECT_UNAUTHORIZED
            value: '0'
          - name: TRUST_SELF-SIGNED
            value: 'true'
        volumeMounts:
          - name: file-queue-volume
            mountPath: /opt/openhim-mediator-file-queue/queue
          - name: file-queue-config-map
            mountPath: /opt/openhim-mediator-file-queue/config
      restartPolicy: Always
      volumes:
        - name: file-queue-volume
          emptyDir: {}
        - name: file-queue-config-map
          configMap:
            name: file-queue-configmap
