configMapGenerator:
  - name: covid19-surveillance-mapper-config-importer-configmap
    files:
      - ./volume/openhim/openhim-import.json
      - ./volume/openhim/openhimConfig.js
  - name: covid19-surveillance-endpoint-importer-configmap
    files:
      - ./volume/surveillance-mediator/case-report/endpoint-bundler.json
      - ./volume/surveillance-mediator/case-report/endpoint-composition.json
      - ./volume/surveillance-mediator/case-report/endpoint-encounter.json
      - ./volume/surveillance-mediator/case-report/endpoint-flattener.json
      - ./volume/surveillance-mediator/case-report/endpoint-handler.json
      - ./volume/surveillance-mediator/case-report/endpoint-location.json
      - ./volume/surveillance-mediator/case-report/endpoint-observation.json
      - ./volume/surveillance-mediator/case-report/endpoint-location-resolver.json
      - ./volume/surveillance-mediator/case-report/endpoint-resource-resolver.json
      - ./volume/surveillance-mediator/case-report/endpoint-resource-resolver-dhis.json
      - ./volume/surveillance-mediator/case-report/endpoint.js
  - name: covid19-lab-report-endpoint-importer-configmap
    files:
      - ./volume/surveillance-mediator/lab-result/endpoint-bundler.json
      - ./volume/surveillance-mediator/lab-result/endpoint-diagnostic-report.json
      - ./volume/surveillance-mediator/lab-result/endpoint-encounter.json
      - ./volume/surveillance-mediator/lab-result/endpoint-flattener.json
      - ./volume/surveillance-mediator/lab-result/endpoint-handler.json
      - ./volume/surveillance-mediator/lab-result/endpoint-specimen.json
      - ./volume/surveillance-mediator/lab-result/endpoint-patient.json
      - ./volume/surveillance-mediator/lab-result/endpoint-resource-resolver.json
      - ./volume/surveillance-mediator/lab-result/endpoint.js
  - name: covid19-case-outcome-endpoint-importer-configmap
    files:
      - ./volume/surveillance-mediator/case-outcome/endpoint-bundler.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-composition.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-encounter-resolver.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-encounter.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-flattener.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-handler.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-observation.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-encounter-check.json
      - ./volume/surveillance-mediator/case-outcome/endpoint-resource-resolver-dhis.json
      - ./volume/surveillance-mediator/case-outcome/endpoint.js
  - name: dhis2-tracker-populator-endpoint-importer-configmap
    files:
      - ./volume/dhis2-tracker-populator/create-enrollment-part1.json
      - ./volume/dhis2-tracker-populator/create-enrollment-part2.json
      - ./volume/dhis2-tracker-populator/create-event.json
      - ./volume/dhis2-tracker-populator/create-tei-enrollment-and-event.json
      - ./volume/dhis2-tracker-populator/enrollment-handler.json
      - ./volume/dhis2-tracker-populator/populator-event-handler.json
      - ./volume/dhis2-tracker-populator/populator-handler.json
      - ./volume/dhis2-tracker-populator/update-enrollment-part1.json
      - ./volume/dhis2-tracker-populator/update-enrollment-part2.json
      - ./volume/dhis2-tracker-populator/update-tei-part1.json
      - ./volume/dhis2-tracker-populator/update-tei-part2.json
      - ./volume/dhis2-tracker-populator/endpoint.js
resources:
  - ./dhis2-metadata-config-importer-job.yaml
  - ./covid19-surveillance-mapper-config-importer-job.yaml
  - ./covid19-surveillance-endpoint-importer-job.yaml
  - ./covid19-lab-result-endpoint-importer-job.yaml
  - ./covid19-case-outcome-endpoint-importer-job.yaml
  - ./covid19-surveillance-hapi-fhir-config-importer-job.yaml
  - ./dhis2-tracker-populator-endpoint-config-importer-job.yaml
